.env

# Python
.venv
dist/
__pycache__/
*.egg-info/
.*_cache
.coverage
.langgraph_api/
.chainlit
.files
uv.lock

# Data
data/
notebooks/*.csv
notebooks/*.txt
nohup.out

node_modules/

packages/expasy-agent/src/expasy_agent/webapp
