.env

# Python
.venv
dist/
__pycache__/
*.egg-info/
.*_cache
.coverage
.langgraph_api/
uv.lock

# Data
data/
notebooks/*.csv
notebooks/*.txt
entities_embeddings*.csv
nohup.out

tests_output_*.md
tests_results.csv
tests_results_latex.txt

packages/expasy-agent/src/expasy_agent/webapp
packages/sparql-llm/src/sparql_llm/webapp
