#VS Code
.vscode

# Environment variables
.env

# Python
.venv
dist/
__pycache__/
*.egg-info/
.*_cache
.coverage
.langgraph_api/
.files
# uv.lock

# Data
data/
.fastembed_cache/
notebooks/*.csv
notebooks/*.txt
nohup.out
.DS_Store

node_modules/

# src/expasy-agent/src/expasy_agent/webapp
tutorial/public/logo_*.png
tutorial/.chainlit/translations/*
!tutorial/.chainlit/translations/en-US.json

.mcpregistry_*
