services:

  vectordb:
    # https://hub.docker.com/r/qdrant/qdrant/tags
    image: docker.io/qdrant/qdrant:v1.11.3
    # image: qdrant/qdrant:v1.9.2-unprivileged # Unprivileged don't work when mounting a volume
    container_name: vectordb
    restart: unless-stopped
    volumes:
      - ./data/qdrant:/qdrant/storage
      # - ./qdrant_config.yml:/qdrant/config/production.yaml
    environment:
      - QDRANT_ALLOW_RECOVERY_MODE=true
    # command:
    #   - ./qdrant --config-path /qdrant/config/production.yaml

  api:
    build: .
    container_name: api
    depends_on:
      - vectordb
    ports:
      - 443:80
    environment:
      - MAX_WORKERS=6
      # cf. https://github.com/tiangolo/uvicorn-gunicorn-docker/blob/master/docker-images/gunicorn_conf.py
    volumes:
      - ./data/fastembed_cache:/tmp/fastembed_cache
      - ./data/logs:/logs
      - ./src:/app/src
    # entrypoint: uvicorn src.sparql_llm.api:app --host 0.0.0.0 --port 80
    env_file:
      - .env

# TODO: add ollama

# podman-compose down && podman network prune -f
# podman exec -it sparql-llm_api_1 bash -c "apt-get update && apt-get install -y telnet && telnet vectordb 6334"
# < /dev/tcp/vectordb/6334
# podman exec -it api bash -c "< /dev/tcp/vectordb/6334"
