.chat-with-context {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @keyframes rotate-spark {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loading-spark {
    position: absolute;
  }

  .loading-spark::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 50%;
    padding: 2px;
    background: conic-gradient(
      from 0deg,
      transparent 0deg,
      transparent 300deg,
      #64748b 330deg,
      #94a3b8 345deg,
      transparent 360deg
    );
    mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    animation: rotate-spark 1s linear infinite;
    pointer-events: none;
  }

  think {
    display: block;
    color: #666;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 3px solid #ddd;
    background-color: #f5f5f5;
    width: fit-content;

    padding: 0.5em 1em;
    border-radius: 4px;
  }
}
